<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>

</head>
<body>
    <h1>Log In</h1>
    <form class="site-form" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form  }}
        <input type="submit" value="Log In">
    </form>
</body>
</html>
