<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>

</head>
<body>
	    <h1>Sign Up</h1>
    <form class="site-form" action="/accounts/signup/" method="POST">
    	{% csrf_token %}
        {{ form  }}
        <input type="submit" value="Sign Up">
    </form>


</body>
</html>


